<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @momoent.user_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @momoent.message_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @momoent.address_id %>
</p>

<%= link_to 'Edit', edit_momoent_path(@momoent) %> |
<%= link_to 'Back', momoents_path %>
