<h1>Listing species</h1>
<%= search_form_for @q do |f| %>

  <%= f.label :name_or_descriptions_cont %>
  <%= f.search_field :name_or_descriptions_cont %>

  <%= f.submit %>
<% end %>
<div class="pull-right"><%= sort_link(@q, :name, "Sort by Name") %></div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |specie| %>
      <tr>
        <td><%= specie.name %></td>
        <td><img class='img-responsive' src="<%= specie.species_images.first.image_url %>" alt="<%= specie.name %>"</td>
        <td><%= link_to 'Show', specie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>