<p id="notice"><%= notice %></p>
<div class="row">
  <h1><%= @species.name %></h1>
</div>

<div class="row">
 <img src="<%= @species.specie_images.first.image_url %>" alt="<%= @species.name %>" />
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>QLD DAFF SOURCE LINK</td>
        <td><a href="<%= @species.source_url %>">SOURCE LINK</a></td>
      </tr>
      <tr>
        <td>Size<td>
        <td><%= @species.size %></td>
      </tr>
      <tr>
        <td>Size and bag limits<td>
        <td><%= @species.size_and_bag_limits || @species.size_and_possession_limits%></td>
      </tr>
      
  </tbody>
</table>

<br>
<%= link_to 'Back', species_path %>
