<p id="notice"><%= notice %></p>
<div class="row">
  <h1><%= @species.name %></h1>
</div>

<div class="row">
 <img src="<%= @species.species_images.first.image_url %>" alt="<%= @species.name %>" />
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-2"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>QLD DAFF SOURCE LINK<strong></td>
      <td><a href="<%= @species.source_url %>">SOURCE LINK</a></td>
    </tr>
    <% eval(@species.descriptions).each do |k, v| %>
    <tr>
      <td><strong><%= k %><strong></td>
      <td>
        <ul>
        <% v.each do |line| %>
          <li><%= line %> </li>
        <% end %>
      </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', species_path %>
