<%= simple_form_for @moment, defaults: {required: false} do |f| %>
 
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :message_attributes do |m|%>
      <%= m.input :content %>
    <% end %>
    
    <%= f.simple_fields_for :address_attributes do |a| %>
      <%= a.input :street %>
    <% end %>
    
  </div>
  <%= render "/attachables/form"%>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
