<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @moment.message.try(:content) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @moment.address.try(:street) %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
